* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

main {
    max-width: 500px;
}

header {
    padding: 1rem;
    border-bottom: 1px solid #c4c119;
    margin-bottom: 1rem;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #c4c119;
    text-align: center;
}
header, footer {
    background-color: #ebece0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Domine', serif, Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: #b30000;
}

button {
    background-color: #b30000;
    border: none;
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
}

section {
    border-bottom: 1px solid #c4c119;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}
a:hover {
    color: #000;
}