@media screen and (min-width: 500px) {
    #menu {
        display: none;
    }

    header {
        display: flex;
    }

    nav {
        width: 25%;
        flex-direction: row;
    }

    nav a {
        display: block;
    }
}